html {
  font-family: Lato;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  color: #ddd;
  min-height: 100%;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
  background-image:url("img/match-matrix-background-large.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.2);
}

/** HEADER ***/
html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 0; /* bottom = footer height */
  /* padding-bottom:100px; */
  height: 100%;
  min-height: 100vh;
}

footer {

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    overflow:hidden;
}
ul { margin-bottom:0px; }
header  {  background-color: #fff; padding:20px 0; }
header#top nav > ul {
    float: right;
    overflow: visible!important;
    transition: padding 0.8s ease, margin 0.25s ease;
    min-height: 1px;
    line-height: 1px;
}

header#top nav > ul > li {
    float: left;
}

header#top nav > ul > li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    text-decoration:none;

}
header#top nav > ul > li > a {
    padding: 0px 10px 0px 10px;
    display: block;
    color: #676767;
    line-height: 20px;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
header#top nav > ul > li > a:hover {
    color: #c46e88!important;
}

header#top nav ul li a {
    color: #888;
}

.clear { clear:both; }

/** FOOTER **/
#footer-outer #copyright {
    border-top: 1px solid rgba(255,255,255,0.18)!important;
}
#footer-outer #copyright, body {
    border: none!important;
    background-color:inherit;
}

#footer-outer #copyright {
    padding: 20px 0px;
    font-size: 12px;
    background-color: #1c1c1c;
    color: #777;
}

#footer-outer .row {
    padding: 55px 0px;
    margin-bottom: 0px;
}
#footer-outer #copyright li a i, #footer-outer #copyright p {
    color: #777777!important;
}
.footer { background-color:inherit !important; padding:0px !important; }
#footer-outer #copyright {
    border-top: 1px solid rgba(255,255,255,0.18)!important;
}

/** CONTENT **/

.product-container h1{
  color: #fff;
  margin: 30px auto 100px;
  font-size: 40px;
  font-weight: bold;
  line-height:1;
}

.product-container h2 {
  color: #fff;
  margin: 0 auto 20px;
  font-size: 20px;
  line-height: 1.3;
}

@media(max-width:767px){
  .product-container h1 span{
    font-size:18px !important;
  }
  .product-container h1{
    font-size:24px;
    margin:auto;
    margin-bottom:25px !important;
  }
  .product-container .first-h2{
    margin-top:0 !important;
    margin-bottom:25px !important;
  }
  .product-container h2{
    font-weight:normal;
    font-size:18px;
  }
  .product-container{
    padding-bottom:50px;
    max-width: 425px !important;
  }
}

.results h1 {
      font-size: 40px;
      padding-top: 0px;
      color: #000!important;
      padding-bottom: 0px;
      margin-top:0px;
      font-family: "Times New Roman", Times, serif;
      text-align: center;
      margin-bottom: 40px;
      margin-left:15px;
 }
.result-content-container { width:100%; max-width:900px; margin:0px auto; padding:30px 20px; background:#fff;
border-radius:20px; margin-top:50px; padding-bottom:50px;
}
.result-content-container img { width:100%; }
.results p { color: #000;
    text-align: justify;
    line-height: 30px;
    margin-top:10px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;

  }
.subtitle  {
    color: #000 !important;
    font-size: 38px!important;
    margin-bottom: 0px !important;
    margin-top: 0px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    text-align: left;
    margin-top:-10px;
  }
.power-reading { width:100%; max-width:400px; }
.addcart { max-width:350px; width:100%; }
.continue
{
font-family: 'Montserrat', sans-serif;
  color: #000;
  background: #FFE700;
  font-size: 25px;
  color: #000;
  border:0px;
  padding: 20px 16px;
  font-weight: bold;

  line-height: 1.3333333;
  border-radius: 6px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
      -ms-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;


  text-decoration:none !important;
}
.small-continue:hover,
.continue:hover
{
  background: #aa04aa;
  color:#fff;
  text-decoration:none !important;
}



.button-container { margin-top:10px;}
.birthday-selection {
text-align: left;
margin-bottom: 10px;
  margin-top:0px;
font-size: 30px;
}
.left { text-align:left !important; }
.remodal {
 font-family: 'Montserrat', sans-serif;
    margin-top: -100px;
 }
 .remodal h2
  {
     margin-top: 0px;
     font-size: 30px;
     line-height: 50px;
     margin-bottom: 0px;
     color: #000;
     font-weight:bold;
 }

 .remodal h3 {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.remodal p {
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.btn-purple {

}

.small-continue
{
  width: 100%;
  background: #FFE700;
  color: #000;
  font-size: 18px;
  transition: color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  margin-top:20px;
  font-weight:bold;
}
.big-input { font-size: 30px;  outline: none; }
.picker__holder { margin-bottom:30px; }
  .notop {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
.sales-border {     border-top: 1px solid #b0b0b0;  }
.top-twentry { margin-top:20px; }
.top-thirty { margin-top: 30px; }

.sales-content { line-height:30px; }
.sales-content .center { text-align:center; }

.form-control
{
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group
{
  padding-left:0px;
}


.select-full
{
    width: 100%;
    margin-bottom: 0px;
}

.select
{
  display:block;
  margin-top: 10px;
}

.select ::after, .select:not(.is-multiple)::after {
    border: 1px solid #000;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: .5em;
    margin-top: -.375em;
    right: 2em;
    top: 50%;
    z-index: 4;
}
.justify { text-align: justify; }

.privacytitle { margin-bottom:0px!important; margin-left:30px !important;}
.privacy { color: #777777 !important; }

#name-info { width:100%; }
.year { padding-right:0px; }
.select-full  { 
  padding-right:0px; 
  /* margin-top:20px;  */
}
.container { 
  /* max-width:960px;  */
  max-width: 800px;
  margin:0px auto; 
  width:100%;  
}
.product-container { margin-top:30px; }

.logo-container { text-align:center; margin:auto; }
.logo-container img { width:100%; max-width:400px; }


.nopadding { padding:0px !important; }
.b-bottom {
    border-bottom: 1px solid #403e3e;
    padding-bottom: 60px;
    margin-bottom: 0px;
}

.second-form {
  padding-top: 20px;
  clear: both;
}

@media only screen and (max-width: 920px)
{
  .content { padding:20px;}

}

@media only screen and (max-width: 767px)
{
  .second-form { padding-top: 100px; }
  .hidden-mobile { display:none;}
  .logo-container { padding:10px;}
  .logo-container img
  {
    max-width: 439px;
        height: auto;
  }
  .result-content-container img { max-width:250px; margin-bottom: 30px; }
  .results h1
  {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .results .col-sm-4 { float:left; }
  .subtitle { margin-top: 20px; font-size: 40px!important;   }
  .results p { line-height: 25px; }
  .result-content-container {  }
  .button-container { margin-top:50px;}
  .result-content-container { margin-top:0px; }
  .form-group { padding:0px !important; margin-bottom:5px !important; }
  .remodal
  { margin-top: auto;}
  .small-continue { margin-top:100px; }

  .remodal h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}


header { padding:0 !important }
}
 
@media only screen and (max-width: 599px)
{
    .results .col-sm-4 { float:none ; }
    .result-content-container img {  margin-bottom: 0px; }
.select-full { margin-top:5px!important; }.center-generate-button { text-align:center; }


}
@media only screen and (max-width: 450px)
{
.form-group { display:block; padding:0px !important; }
.results h1 { margin-bottom:0px;}
.logo-container img { width:100%;}
}
